test.cbp
test.depend
test.layout
pthread_test
socket_client_test
socket_server_test
fork_test
primer_transformation_test
socket_un_server_test
socket_un_client_test
socket_un_client_test_debug_backup
socket_un_server_test_debug_backup


#modules
*.ko.cmd
*.mod.o.cmd
*.o.cmd
*.symvers
*.ko
*.mod.c
*.order

# directory
/obj/
/bin/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

test.cbp
test.depend
test.layout
pthread_test
socket_client_test
socket_server_test
fork_test
primer_transformation_test
socket_un_server_test
